<div class="container">
  <form [formGroup]="form">

    <div class="form-group">
      <label i18n for="typePresta">Type</label>
      <input formControlName="typePresta" type="text" class="form-control" id="typePresta">
    </div>

    <div class="form-group">
      <label i18n for="client">Client</label>
      <input formControlName="client" type="text" class="form-control" id="client">
    </div>

    <div class="form-group">
      <label i18n for="nbJours">Nombre de jours</label>
      <input formControlName="nbJours" type="text" class="form-control" id="nbJours">
    </div>

    <div class="form-group">
      <label i18n for="tjmHt">Tarif Journalier</label>
      <input formControlName="tjmHt" type="text" class="form-control" id="tjmHt">
      <!-- <div class="alert alert-danger" *ngIf="form.get('tjmHt').errors?.required && form.get('tjmHt').touched">
        Ce champs est requis.
      </div>
      <div class="alert alert-danger" *ngIf="form.get('tjmHt').errors?.minLength && form.get('tjmHt').touched">
        Taille minimum 3 char.
      </div> -->
      <div invalidMessage="tjmHt" class="alert alert-danger">
        <p *invalidType="'required'" i18n>
          Champs obligatoire
        </p>
        <p *invalidType="'minlength'" i18n>
          Min 3 char.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label i18n for="tva">Tva</label>
      <input formControlName="tva" type="text" class="form-control" id="tva">
    </div>

    <div class="form-group">
      <label i18n for="state">Etat</label>
      <select formControlName="state" class="form-control" id="state">
        <option *ngFor="let state of states"
                [ngValue]="state">
            {{ state }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label i18n for="comment">Commentaire</label>
      <input formControlName="comment" type="text" class="form-control" id="comment">
    </div>

    <app-btn label="Valider" [action]="true" (clicked)="onSubmit()"></app-btn>

  </form>
</div>
